
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
	background-color:red; 
}
.hidden{
	display: none;
}

ul{
	display: block;
	overflow: hidden;
}
li{
	margin: 4px;
	padding: 5px;
	line-height: 20px;
	font-size: 15px;
	background:#777777;
	color: #fff;
	display: inline-block;
	cursor: pointer; 
}

li:hover{
	background:#d9534f;
	color: #000;

}




